HCDECOR_WP_BASE_URL=https://api.example.com
HCDECOR_WP_API_TOKEN=
NEXT_PUBLIC_HUB_URL=https://hcdecorhub.vercel.app

HCDECOR_CRM_SHEET_ID=1vZcpqZETYAticin2MyeO9UeJgMpDBYMEV16J1o6ouSg
HCDECOR_CRM_SHEET_URL=https://docs.google.com/spreadsheets/d/1vZcpqZETYAticin2MyeO9UeJgMpDBYMEV16J1o6ouSg/edit
